[Desktop Entry]
Name=Seedkeeper PRO Manager
GenericName=Seedkeeper PRO Manager
Exec="@EXEC_PATH/authenticator"
Icon=@EXEC_PATH/linux_support/com.yubico.yubioath.png
Type=Application
Categories=Utility;
Keywords=Yubico;Authenticator;
