[Desktop Entry]
Name=Seedkeeper PRO
GenericName=Seedkeeper PRO
Exec="@EXEC_PATH/authenticator"
Icon=@EXEC_PATH/linux_support/io.seedkeeper.pro.png
Type=Application
Categories=Utility;
Keywords=Seedkeeper;NFC;Passkey;FIDO2;Authenticator;
